@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Remove default styling */
* {
   margin: 0;
   padding: 0;
   color: var(--color);
   font-family: "Poppins", sans-serif;
}

:root {
   --background: #04010c;
   --color: #dedede;
   --a-color: #7948ff;
   --color-desc: #a0a0a0;
   --button-border: #7948ff;
   --button-fill: #7948ff;
}

/* body styling */
body {
   background: var(--background);
   margin: 25px 150px 25px 150px;
}

@media (max-width: 719px) {
   body {
      margin: 15px;
   }
}

/* default h1 styling */
h1 {
   font-family: "Domine", serif;
   font-size: 2.5em;
}

h2, h3, h4, h5 {
   font-family: "Domine", serif;
}

h1 i, h2 i, h3 i, h4 i, h5 i {
   font-family: "Domine", serif;
}

h1.smaller {
   font-size: 2em;
}

h1 a, h2 a, h3 a, h4 a, h5 a {
   font-family: "Domine", serif;
}

/* default a styling */
a {
   color: var(--a-color);
   text-decoration: none;
   transition: all 0.15s ease;
}

a:hover {
   text-decoration: underline;
}

/* header */
header {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

header img {
   width: 75px;
}

header .right a {
   text-decoration: none;
   margin-right: 15px;
   color: var(--color);
}

header right a:hover {
   color: var(--a-color);
}

@media (max-width: 572px) {
   header {
      flex-direction: column;
      align-items: flex-start;
   }

   header .right {
      margin-bottom: 15px;
   }
}

/* products */
.productShowcase {
   display: flex;
   flex-wrap: wrap;
   gap: 20px;
}

.products {
   display: grid;
   grid-template-columns: 1fr;
   gap: 5px;
   text-align: left;
   width: 200px;
}

.products .name {
   font-size: 1.5em;
   font-weight: bold;
   text-decoration: none;
   color: var(--a-color);
}

.products .name:hover {
   text-decoration: underline;
}

.description {
   font-size: 0.9em;
   color: var(--color-desc);
}

/* ul styling */
ul {
   margin-left: 20px;
}

/* button styling */
button {
   padding: 7px;
   background: transparent;
   border: 1px solid var(--button-border);
   border-radius: 35px;
   cursor: pointer;
   transition: all 0.15s ease;
}

button:hover {
   background: var(--button-fill);
}

/* call to action */
.cta {
   text-align: center;
}

.cta button {
   margin-top: 10px;
}

/* gradient */
.gradient {
   background: linear-gradient(90deg, #5252ff, purple);
   -webkit-background-clip: text;
   background-clip: text;
   -webkit-text-fill-color: transparent;
}